
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
   
}
body{
    background-color: rgba(234, 228, 228, 0.592);
    font-family: "Roboto", sans-serif;
    line-height: 20px;

}

/* section 1 css start */

#header{
    padding: 0px 10px;
}
.section-1{
    width: 1150px;
    position: relative;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    /* border: 1px solid black; */
}
.logo{
    padding-left: 25px;
    padding-top: 5px;
}
.logo a img{
    width: 90%;
}
    
.inner-item-1{
    display: flex;
    justify-content: end;
    padding: 0px 0px ;
}

.inner-child-1{
    padding: 8px;
}
.fa{
    font-size: 12px;
}
.inner-child-1 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.691);
    font-size: 12px;


}
.inner-item-2{
    display: flex;
    padding: 20px 0px;
}
.inner-child-2{
    display: flex;
    
}
.inner-child-2 a{
    text-decoration: none;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.691);
}

.group{
    padding-right: 10px;
    width:200px ;
    height: 30px;
    display: flex;
    justify-content: end;
 
}

.cover-1{
    height: 100%;
    background-color: white;
    display: flex;
    border-radius:20px ;
}
.cover-2{
    display: block;
    padding-left:5px;
}
.cover-2 a{
    font-size: 18px;
}
.cover-2 .efect-2{
    font-size:10px;
    color: red;

}
#item-1:hover{
    color: red;

}

.efect{
    color: red;
    transition: 300ms;
   
}


.card_item{
    position: absolute;
    top: 45px;
    right: 104px;
    color: #eeeeee;
    font-size: 16px;
    border-radius: 20px;
    background-color: #4C69F9;
    padding: 2px;
    text-align: center;
    width: 19px;
}
a{
    cursor: pointer;
}
.card-total{
    font-size: 11px ;
    color: red;
}
h4{
    font-size: 18px;
}




input{
    width: 100px;
    height: 100% ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    transition: 1s;
    padding-left:5px ;
}
input:focus{
    width:150px; 
    outline: none;


    }
    .icon{
        width: 30px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.907);
        border-radius:50% ;
        display: flex;
        align-items: center;
        justify-content: center;


    }
.inner-icon{
    color: white;
}
.contant{
    position: absolute;
    min-height: 150px ;
    min-width: 300px;
      /* box-shadow: 0px 0px 2px #bbb; */
      display: none;
    right: 0;
    top: 82;
    padding-top: 10px;
    /* background: #FFF; */
    z-index: 100;

}
.contant-inner{
        background: #FFF;
        border-top: 6px solid #d22753;
        box-shadow: 0px 0px 2px #bbb;
        padding: 8px;
    }
     .empty{
        padding-top: 50px ;
        text-align: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.691);

     }
     .contant::before{
        content: '';
        position: absolute; 
        border-bottom: 11px  solid #d22753; 
        /* border-top:11px solid transparent ; */
        border-left:11px solid transparent ;
        border-right:11px solid transparent ;
        right: 60px;
        top: 0px;
        display: inline-block;
       


     }
     .cart:hover .contant{
        display: block;

     }
      /* section 1 css end */

       /* section 2 css start */
       .section-2{
        background-color: #292628;;

       }
       section nav{

       }
       section nav .containerx{
        /* padding: 5px; */
       width: 1100px;
        margin: auto;
        /* border: 1px solid black; */

       }
       section nav .containerx .manu{
        display: flex;
       }
       section nav .containerx .manu .manu-item {
        display: flex;
        align-items: center;
        padding: 10px 10px;
       }
       section nav .containerx .manu .manu-item .fa{
        color: white;
       }
       section nav .containerx .manu .manu-item a{
        text-decoration: none;
        font-size: 14px;
        font-weight: lighter;
        
        color: white;
        /* display: block; */
        padding: 3px 3px;
       }





     /* section 2 css end */



