
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
   
}
body{
    background-color: rgba(234, 228, 228, 0.592);
    font-family: "Roboto", sans-serif;
    line-height: 20px;

}

/* section 1 css start */

#header{
    padding: 0px 10px;
}
.section-1{
    width: 1150px;
    position: relative;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    /* border: 1px solid black; */
}
.logo{
    padding-left: 25px;
    padding-top: 5px;
}
.logo a img{
    width: 90%;
}
    
.inner-item-1{
    display: flex;
    justify-content: end;
    padding: 0px 10px ;
    /* border: 1px solid black; */
}

.inner-child-1{
    padding: 8px;
}
.fa{
    font-size: 12px;
}
.inner-child-1 a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.691);
    font-size: 12px;


}
.inner-item-2{
    display: flex;
    padding: 10px 0px;
    /* border: 1px solid black; */
}
.inner-child-2{
    display: flex;
    
}
.inner-child-2 a{
    text-decoration: none;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.691);
}

.group{
    padding-right: 10px;
    width:200px ;
    height: 30px;
    display: flex;
    justify-content: end;
 
}

.cover-1{
    height: 100%;
    background-color: white;
    display: flex;
    border-radius:20px ;
}
.cover-2{
    display: block;
    padding-left:5px;
}
.cover-2 a{
    font-size: 18px;
}
.cover-2 .efect-2{
    font-size:10px;
    color: red;

}
#item-1:hover{
    color: red;

}

.efect{
    color: red;
    transition: 300ms;
   
}


.card_item{
    position: absolute;
    top: 35px;
    right: 104px;
    color: #eeeeee;
    font-size: 16px;
    border-radius: 20px;
    background-color: #4C69F9;
    padding: 2px;
    text-align: center;
    width: 19px;
}
a{
    cursor: pointer;
}
.card-total{
    font-size: 11px ;
    color: red;
}
h4{
    font-size: 18px;
}




input{
    width: 100px;
    height: 100% ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    transition: 1s;
    padding-left:5px ;
}
input:focus{
    width:150px; 
    outline: none;


    }
    .icon{
        width: 30px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.907);
        border-radius:50% ;
        display: flex;
        align-items: center;
        justify-content: center;


    }
.inner-icon{
    color: white;
}
.contant{
    position: absolute;
    min-height: 150px ;
    min-width: 300px;
      /* box-shadow: 0px 0px 2px #bbb; */
      display: none;
    right: 0;
    top: 82;
    padding-top: 10px;
    /* background: #FFF; */
    z-index: 100;

}
.contant-inner{
        background: #FFF;
        border-top: 6px solid #d22753;
        box-shadow: 0px 0px 2px #bbb;
        padding: 8px;
    }
     .empty{
        padding-top: 50px ;
        text-align: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.691);

     }
     .contant::before{
        content: '';
        position: absolute; 
        border-bottom: 11px  solid #d22753; 
        /* border-top:11px solid transparent ; */
        border-left:11px solid transparent ;
        border-right:11px solid transparent ;
        right: 60px;
        top: 0px;
        display: inline-block;
       


     }
     .cart:hover .contant{
        display: block;

     }
      /* section 1 css end */

       /* section 2 css start */
      
       
       /* height: 60px; */
      

       /* } */
       section nav{
        background-color: #292628;
        height: 50px;
        

       }
       section nav .containerx{
       width: 1100px;
        margin: auto;
        
    

       }
       section nav .containerx .manu{
        display: flex;
       }
       section nav .containerx .manu .manu-item{
        display: flex;
         height: 50px;
        align-items: center;
        padding: 10px 9px;
        
       }
       .manu .manu-item:hover{
        background-color: #d22753 !important;
        border-bottom: 4px solid white;
        border-top: 4px solid transparent;
       
       
       }
       section nav .containerx .manu .manu-item .fa{
        color: white;
       }
       section nav .containerx .manu .manu-item a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 300;
        /* padding: 10px 9px; */
        
        color: white;
        display: block; 
         padding: 3px 3px;
       }
       .dropdown{
        position: relative !important;

       }
       .dropdown:hover .dropdown-item{
        display: block;
       }
       .dropdown .dropdown-item{
        position: absolute;
        display: none;
        width: 825px;
        background-color: white;
        top: 46px;
        left: 0;
        padding:15px 10px ;
        /* padding-left:10px; */
        min-height: 280px;
        z-index: 1;
       }
       .item-box-1{
        display: flex;
       }
       .item-box-2{
        /* border: 1px solid black; */
        padding-top: 10px;
       }
       .item-box-nner{
        width: 200px;
       
       }
       .item-box-nner a h5{
        color: black;

       }
       .item-box-inner-text{
        padding-left:8px;
       
       
       }
       .item-box-inner-text a{
        padding: 0px !important;
        /* display: block; */
       }
       .item-box-inner-text a span{
        color: #909293 !important;
        transition: 200ms;
        /* text-decoration: none; */
       
        font-size: 13px;
        padding: 0px ;
        padding-left:8px ;
        display: block !important;


       }
       .item-box-inner-text a span:hover{
        color: rgba(255, 0, 0, 0.72) !important;
        
       }
       /* section 2 end  */
       /* section 3 start */

       .slider{
        width: 100%;
       }
       .slider img{
        width: 100%;
       }
       /* .slick-next:before {
        font-family: slick;
        font-size: 33px;
        line-height: 1;
        opacity: .75;
        color: rgba(0, 0, 0, 0.557);
     
        right: 50px;
        width: 50px ;
        height: 50px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-prev:before{
        font-family: slick;
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color:green;
        right: 600px;
        width: 50px ;
        height: 50px;
       
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }
    .slick-next{
        font-size: 18;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        right: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: #d22753;
        background-color: #4C69F9;
        border: none;
        outline: 0;
        background: 0 0;
    }
    .slick-prev{
        font-size: 18;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
       
        color: #d22753;
        background-color: #4C69F9;
        border: none;
        outline: 0;
        background: 0 0;
      

    }  */
    .slick-next:before {
        font-family: slick;
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #12b117;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-next{
        font-size: 18;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        /* display: none; */
        width: 30px;
        height: 30px;
        right: 70px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: #d22753;
        background-color: #4C69F9;
        border: none;
        outline: 0;
        background: 0 0;
    }
    .slick-prev:before {
        font-family: slick;
        font-size: 20px;
        line-height: 1;
        opacity: 1;
        z-index: 999;
        color:red;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-prev{
        font-size: 18;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 70px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: #d22753;
        background-color: #4C69F9;
        border: none;
        outline: 0;
        background: 0 0;
    

    }
.title{
    position: relative;

}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.304);
}


   





   



